.site-nav {
    position: fixed;
    margin-left: 5em;
    margin-top: 5em;
}

.nav-heading {
    font-size: 1.07rem;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
}

.nav-heading:hover {
    background-color: #d6f3ee;
}

.nav-heading > a {
    text-decoration: none;
    color: #585a5c;
}

.nav-heading:hover > a {
    color: #232425;
}

.nav-comp-heading {
    max-width: max-content;
    margin-top: 0.6em;
}

.nav-comp-section {
    margin-top: 0.5em;
    padding-left: 0.4em;
}

.component-links {
    list-style: none;
    margin-bottom: 0.5em;
    font-size: 1.015rem;
    max-width: max-content;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
}

.component-links:hover {
    background-color: #d6f3ee;
}

.component-links > a {
    text-decoration: none;
    color: #585a5c;
}

.component-links:hover > a {
    color: #232425;
}
