@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header {
    padding-top: 1.8em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    font-size: 1.3rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandname-link {
    margin-left: 4.1em;
    text-decoration: none;
}

.brandname {
    display: inline-flex;
    align-items: center;
    max-width: max-content;
    cursor: pointer;
    color: #000;
}

.brandname-logo {
    width: 2em;
    margin-right: 0.5em;
}

.brandname-title {
    font-size: 1.4rem;
}

@media (max-width: 1200px) {
    .brandname-link {
        margin-left: 1em;
    }
}

@media (max-width: 700px) {
    .brandname-link {
        margin-left: 0.8em;
    }

    .header {
        padding-top: 1em;
    }
}
