@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.docs-link {
    float: right;
    margin-top: 0.5em;
    margin-right: 4em;
    font-size: 1.05rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.docs-link:hover {
    text-decoration: underline;
}

.main-container {
    margin-top: 10em;
}

.main-logo {
    width: 10em;
    display: block;
    margin: 0 auto;
}

.main-desc {
    font-size: 1.5rem;
    max-width: 20em;
    text-align: center;
    margin: 2em auto;
}

.button-container {
    max-width: max-content;
    margin: 0 auto;
}

.main-start,
.main-github {
    border: none;
    background-color: #00b594;
    color: #fff;
    height: 3.1em;
    width: 10.6em;
    font-size: 1rem;
    border-radius: 2em;
    margin: 0 0.7em;
    cursor: pointer;
}

.main-github {
    border: solid 2px #00b594;
    background-color: transparent;
    color: #000;
}
