<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Badge</title>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/comp-page.css" />
        <link rel="stylesheet" href="/css/utilities.css" />
        <link rel="stylesheet" href="/pages/components/Badge/badge.css" />
        <link rel="stylesheet" href="/pages/components/Avatar/avatar.css" />
        <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/images/logo.png" />
        <link rel="stylesheet" href="/css/night-owl.css" />
    </head>
    <body>
        <header class="header">
            <a class="brandname-link" href="/index.html">
                <span class="brandname">
                    <img
                        class="brandname-logo"
                        src="/images/logo.png"
                        width="2em"
                        alt=""
                    />
                    <span class="brandname-title">Open UI</span>
                </span>
            </a>
        </header>
        <nav class="site-nav">
            <div class="nav-main-heading">Getting Started</div>

            <div class="nav-sub-heading nav-getstarted">
                <a href="/pages/usage.html">Usage</a>
            </div>

            <div class="nav-main-heading">Components</div>
            <ul class="nav-comp-section">
                <li class="component-links">
                    <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Alert/alert.html">Alert</a>
                </li>
                <li class="component-links">
                    <a
                        style="color: #027a64"
                        href="/pages/components/Badge/badge.html"
                        >Badge</a
                    >
                </li>
                <li class="component-links">
                    <a href="/pages/components/Button/button.html">Button</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Card/card.html">Card</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Image/image.html">Image</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Input/input.html">Input</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Lists/lists.html">List</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Navigation/navigation.html"
                        >Navigation</a
                    >
                </li>
                <li class="component-links">
                    <a href="/pages/components/Toast/toast.html">Toast</a>
                </li>
            </ul>
        </nav>
        <main class="comp-disp">
            <h1 class="comp-disp-header">Badge</h1>
            <pre class="comp-code-container"><code class="html">
    @import url("https://openui.netlify.app/pages/components/Badge/badge.css");
    &lt;link rel="stylesheet" 
    href="https://openui.netlify.app/pages/components/Badge/badge.css">
            </code></pre>

            <h2 class="sub-comp-header">Avatars with Badge</h2>

            <div class="comp-disp-container disp-flex">
                <figure class="avatar avatar-xl badge disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-2.png"
                        alt="avatar demo"
                        height="4em"
                    />
                    <div class="badge-count">99</div>
                </figure>
                <figure class="avatar avatar-lg badge disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-3.png"
                        alt="avatar demo"
                        height="3em"
                    />
                    <div class="badge-count"></div>
                </figure>
                <figure class="avatar avatar-std badge disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-1.png"
                        alt="avatar demo"
                        height="2em"
                    />
                    <div class="badge-count">8</div>
                </figure>
            </div>

            <p class="comp-desc">
                The badge component can be used in two ways with and without the
                count.
            </p>

            <pre class="comp-code-container"><code class="html">
    &lt;figure class="avatar avatar-xl badge">
        &lt;img src="..." alt=""/>
        &lt;div class="badge-count">8&lt;/div>
    &lt;/figure>
    
    &lt;figure class="avatar avatar-std badge">
        &lt;img src="..." alt=""/>
        &lt;div class="badge-count">8&lt;/div>
    &lt;/figure>
            </code></pre>

            <h2 class="sub-comp-header">Icons with Badge</h2>

            <div class="comp-disp-container disp-flex">
                <figure class="badge">
                    <img src="/images/cart.svg" alt="" />
                    <div class="badge-count">8</div>
                </figure>
                <figure class="badge">
                    <img src="/images/mail.svg" alt="" />
                    <div class="badge-count">8</div>
                </figure>
            </div>
            <p class="comp-desc">
                The badge component can be used with and without the badge count
            </p>

            <pre class="comp-code-container"><code class="html">
    &lt;figure class="badge">
        &lt;img src="..." alt="" />
        &lt;div class="badge-count">8&lt;/div>
    &lt;/figure>

    &lt;figure class="badge">
        &lt;img src="..." alt="" />
        &lt;div class="badge-count">8&lt;/div>
    &lt;/figure>
            </code></pre>

            <footer class="page-footer">
                <a
                    href="/pages/components/Alert/alert.html"
                    class="footer-button"
                >
                    <img src="/images/arrow_back.svg" alt="" />Alert
                </a>
                <a
                    href="/pages/components/Button/button.html"
                    class="footer-button"
                >
                    Button
                    <img src="/images/arrow_forward.svg" alt="" />
                </a>
            </footer>
        </main>

        <script src="/javascript/highlight.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    </body>
</html>
