.badge {
    position: relative;
    cursor: pointer;
    width: max-content;
}

.badge-count {
    position: absolute;
    background-color: #dd1313;
    color: #fff;
    border-radius: 50%;
    top: 0;
    right: 0.4em;
    font-size: 60%;
    font-style: var(--font);
    width: 25%;
    height: 21%;
    font-weight: 600;
    min-width: 13px;
    min-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > .badge-count {
    top: 0;
    right: 0;
    font-size: 70%;
}

.avatar-xl > .badge-count {
    height: 85%;
    right: 0.5em;
    top: -0.4em;
}

.avatar-std > .badge-count {
    right: -0.4em;
}
