.badge {
    position: relative;
}

.badge-count {
    position: absolute;
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    top: 0;
    right: 0;
    font-size: 60%;
    font-style: var(--font);
    width: 35%;
    height: 30%;
    min-width: 15px;
    min-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
