<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Avatar</title>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/comp-page.css" />
        <link rel="stylesheet" href="/css/components.css" />
        <link rel="stylesheet" href="/pages/components/Alert/alert.css" />
        <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/images/logo.png" />
        <link rel="stylesheet" href="/css/night-owl.css" />
    </head>
    <body>
        <header class="header">
            <a class="brandname-link" href="/index.html">
                <span class="brandname">
                    <img
                        class="brandname-logo"
                        src="/images/logo.png"
                        width="2em"
                        alt=""
                    />
                    <span class="brandname-title">Open UI</span>
                </span>
                <a
                    href="https://github.com/RohitDhatrak/OpenUI"
                    class="github-link"
                >
                    <button class="github-btn">GitHub</button>
                </a>
            </a>
        </header>
        <nav class="site-nav">
            <div class="nav-heading nav-getstarted">
                <a href="/pages/getstarted.html">Getting Started</a>
            </div>
            <div class="nav-heading nav-comp-heading">
                <a href="/pages/components.html">Components</a>
            </div>
            <ul class="nav-comp-section">
                <li class="component-links">
                    <a href="/pages/components/Avatar/avatar.html">Avatar</a>
                </li>
                <li class="component-links">
                    <a
                        style="color: #027a64"
                        href="/pages/components/Alert/alert.html"
                        >Alert</a
                    >
                </li>
                <li class="component-links">
                    <a href="/pages/components/Badge/badge.html">Badge</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Button/button.html">Button</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Card/card.html">Card</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Image/image.html">Image</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Input/input.html">Input</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Lists/lists.html">List</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Navigation/navigation.html"
                        >Navigation</a
                    >
                </li>
                <!-- <li class="component-links">
                    <a href="/pages/components/Modal/modal.html">Modal</a>
                </li> -->
                <!-- <li class="component-links">
                    <a href="/pages/components/Rating/rating.html">Rating</a>
                </li> -->
                <!-- <li class="component-links">
                    <a href="/pages/components/Rating/rating.html">Slider</a>
                </li> -->
                <!-- <li class="component-links">
                    <a href="/pages/components/Grid/grid.html">Grid</a>
                </li> -->
                <!-- <li class="component-links">
                    <a href="/pages/components/Text/text.html">Text</a>
                </li> -->
                <li class="component-links">
                    <a href="/pages/components/Toast/toast.html">Toast</a>
                </li>
            </ul>
        </nav>
        <main class="comp-disp">
            <h1 class="comp-disp-header">Alert</h1>
            <div class="comp-disp-container">
                <div class="alert alert-success">A simple success alert.</div>
                <div class="alert alert-danger">A simple danger alert.</div>
                <div class="alert alert-warning">A simple warning alert.</div>
                <div class="alert alert-info">A simple info alert.</div>
            </div>
            <p class="comp-desc">
                Add the <span class="highlight">alert</span> class to element.
                Use the <span class="highlight">alert-success</span> class for a
                success alert, <span class="highlight">alert-danger</span> tag
                for a danger alert,
                <span class="highlight">alert-warning</span> tag for a warning
                alert and <span class="highlight">alert-info</span> class for an
                info alert.
            </p>

            <pre class="comp-code-container"><code class="html">
    &lt;div class="alert alert-success">...&lt;/div>
    &lt;div class="alert alert-danger">...&lt;/div>
    &lt;div class="alert alert-warning">...&lt;/div>
    &lt;div class="alert alert-info">...&lt;/div>
            </code></pre>
        </main>

        <script src="/javascript/highlight.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    </body>
</html>
