.alert {
    background-color: #cff4fc;
    font-family: var(--font);
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
    width: max-content;
}

.alert-success {
    background-color: #d1e7dd;
}

.alert-danger {
    background-color: #f8d7da;
}

.alert-warning {
    background-color: #fff3cd;
}

.alert-info {
    background-color: #cff4fc;
}
