<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Avatar</title>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/comp-page.css" />
        <link rel="stylesheet" href="/css/utilities.css" />
        <link rel="stylesheet" href="/pages/components/Avatar/avatar.css" />
        <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/images/logo.png" />
        <link rel="stylesheet" href="/css/night-owl.css">
    </head>
    <body>
        <header class="header">
            <a class="brandname-link" href="/index.html">
                <span class="brandname">
                    <img
                        class="brandname-logo"
                        src="/images/logo.png"
                        width="2em"
                        alt=""
                    />
                    <span class="brandname-title">Open UI</span>
                </span>
            </a>
        </header>
        <nav class="site-nav">
            <div class="nav-main-heading">Getting Started</div>

            <div class="nav-sub-heading nav-getstarted">
                <a href="/pages/usage.html">Usage</a>
            </div>

            <div class="nav-main-heading">Components</div>
            <ul class="nav-comp-section">
                <li class="component-links">
                    <a
                        style="color: #027a64"
                        href="/pages/components/Avatar/avatar.html"
                        >Avatar</a
                    >
                </li>
                <li class="component-links">
                    <a href="/pages/components/Alert/alert.html">Alert</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Badge/badge.html">Badge</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Button/button.html">Button</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Card/card.html">Card</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Image/image.html">Image</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Input/input.html">Input</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Lists/lists.html">List</a>
                </li>
                <li class="component-links">
                    <a href="/pages/components/Navigation/navigation.html"
                        >Navigation</a
                    >
                </li>
                <li class="component-links">
                    <a href="/pages/components/Toast/toast.html">Toast</a>
                </li>
            </ul>
        </nav>
        <main class="comp-disp">
            <h1 class="comp-disp-header">Avatar</h1>
            <pre class="comp-code-container"><code class="html">
    @import url("https://openui.netlify.app/pages/components/Avatar/avatar.css");
    &lt;link rel="stylesheet" 
    href="https://openui.netlify.app/pages/components/Avatar/avatar.css">
            </code></pre>

            <h2 class="sub-comp-header">Standard Avatars</h2>
            <div class="comp-disp-container disp-flex">
                <figure class="avatar avatar-xl disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-2.png"
                        alt="avatar demo"
                        height="4em"
                    />
                </figure>
                <figure class="avatar avatar-lg disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-3.png"
                        alt="avatar demo"
                        height="3em"
                    />
                </figure>
                <figure class="avatar avatar-std disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-1.png"
                        alt="avatar demo"
                        height="2em"
                    />
                </figure>
                <figure class="avatar avatar-sm disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-4.png"
                        alt="avatar demo"
                        height="1.5em"
                    />
                </figure>
                <figure class="avatar avatar-xs disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-5.png"
                        alt="avatar demo"
                        height="1em"
                    />
                </figure>
            </div>

            <p class="comp-desc">
                The avatar component has 5 sizes, <span class="highlight">avatar-xl</span> (4em), <span class="highlight">avatar-lg</span> (3em), <span class="highlight">avatar-std</span> (2em) <span class="highlight">avatar-sm</span> (1.5em), and <span class="highlight">avatar-xs</span> (1em).
            </p>

            <pre class="comp-code-container"><code class="html">
    &lt;figure class="avatar avatar-xl">
        &lt;img src="..." alt="..."/>
    &lt;/figure>

    &lt;figure class="avatar avatar-std">
        &lt;img src="..." alt="..."/>
    &lt;/figure>
            </code></pre>
            
            <h2 class="sub-comp-header">Avatars with status</h2>
            <div class="comp-disp-container disp-flex">
                <figure class="avatar avatar-xl disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-2.png"
                        alt="avatar demo"
                        height="4em"
                    />
                    <div class="avatar-presence dnd"></div>
                </figure>
                <figure class="avatar avatar-lg disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-3.png"
                        alt="avatar demo"
                        height="3em"
                    />
                    <div class="avatar-presence offline"></div>
                </figure>
                <figure class="avatar avatar-std disp-inline">
                    <img
                        src="https://picturepan2.github.io/spectre/img/avatar-1.png"
                        alt="avatar demo"
                        height="2em"
                    />
                    <div class="avatar-presence online"></div>
                </figure>
            </div>

            <p class="comp-desc">Avatars support presence indicators. There are three indicators <span class="highlight">online</span>, <span class="highlight">offline</span> and <span class="highlight">dnd</span>.</p>

            <pre class="comp-code-container"><code class="html">
    &lt;figure class="avatar avatar-xl">
        &lt;img src="..." alt="..."/>
        &lt;div class="avatar-presence dnd"></div>
    &lt;/figure>

    &lt;figure class="avatar avatar-lg">
        &lt;img src="..." alt="..."/>
        &lt;div class="avatar-presence offline"></div>
    &lt;/figure>
            </code></pre>

            <footer class="page-footer">
                <a href="/pages/usage.html" class="footer-button">
                    <img src="/images/arrow_back.svg" alt="" />Usage
                </a>
                <a href="/pages/components/Alert/alert.html" class="footer-button">
                    Alert
                    <img src="/images/arrow_forward.svg" alt="" />
                </a>
            </footer>
        </main>

        <script src="/javascript/highlight.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    </body>
    
</html>
