.input {
    position: relative;
    margin: 0.5em;
}

.input > input {
    font-size: 1rem;
    border-radius: 0.3em;
    border: 2px solid #9b9ba0;
    width: 20em;
    height: 3em;
    padding: 0.2em;
}

.input > div {
    position: absolute;
    top: -0.6em;
    font-size: 0.88rem;
    left: 1em;
    background-color: #fff;
    font-weight: 500;
    padding: 0.1em;
}

.input > input.error {
    border: 2px solid #e63030;
}

.input > div.error {
    color: #dc2626;
}

.input > input.warn {
    border: 2px solid #ffae22;
}

.input > div.warn {
    color: #db9b2c;
}

.input > input.success {
    border: 2px solid #059669;
}

.input > div.success {
    color: #047857;
}
