.card {
    width: max-content;
    border: 2px solid #f0f0f3;
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
    margin: 0.1em;
}

.card:hover {
    box-shadow: 0px 0px 20px 0px #e3dddd, 20px -17px 60px #ffffff;
}

.card > .cover {
    width: 11em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.card > .icon {
    position: absolute;
    top: 1.4em;
    right: 1.35em;
    padding: 0.6em 0.6em 0.2em;
    background-color: #f0f0f3;
    border-radius: 0.5em;
    opacity: 0.85;
}

.card > .icon:hover {
    opacity: 1;
}

.card > .icon > img {
    width: 1em;
    font-weight: 500;
}

.card > .text {
    width: 11em;
}

.card > .text > .heading {
    font-weight: 500;
}

.card > .text > .sub-heading {
    font-size: 0.8rem;
}

.card > .text > .price {
    margin-top: 0.5em;
}

.card > .text > .price > .price-discounted {
}

.card > .text > .price > .price-original {
    text-decoration: line-through;
    color: #9b9ba0;
    margin-left: 0.3em;
    font-size: 0.8rem;
}

.card-hz {
    display: flex;
    width: 90%;
}

.card-hz > .icon {
    opacity: 0.6;
}

.card-hz > .icon:hover {
    opacity: 1;
}

.card-hz > .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
}

.card-hz > .text > .heading {
    font-size: 1.4rem;
}

.card-hz > .text > .sub-heading {
    font-size: 0.9rem;
}

.card-hz > .text > .para {
    margin-top: 1em;
}

.card-hz > .text > .price {
    margin-top: 0.5em;
}

.card-hz > .text > .price > .price-discounted {
    font-size: 1.3rem;
}

.card-hz > .text > .price > .price-original {
    font-size: 0.9rem;
}
