.card {
    border: 2px solid #f0f0f3;
    padding: 0.5em;
    border-radius: 0.5em;
    position: relative;
    margin: 0.1em;
    cursor: pointer;
    list-style: none;
    width: var(--card-width);
    max-width: var(--card-max-width);
}

.card:hover {
    box-shadow: 0px 0px 20px 0px #e3dddd, 20px -17px 60px #ffffff;
}

.card-cover {
    width: auto;
    height: var(--card-img-height);
    border-radius: 0.2em;
    margin-bottom: 0.3em;
}

.card-icon {
    position: absolute;
    top: 1em;
    right: 0.95em;
    padding: 0.6em 0.6em 0.25em;
    background-color: #f0f0f3;
    border-radius: 0.5em;
    opacity: 0.8;
}

.card-icon:hover {
    opacity: 1;
}

.card-icon > img {
    width: 1em;
    font-weight: 500;
}

.card-text {
    width: 100%;
}

.card-heading {
    font-weight: 500;
    font-size: 0.95rem;
}

.card-sub-heading {
    font-size: 0.8rem;
}

.card-price {
    margin-top: 0.3em;
    font-size: 0.95rem;
}

.price-discounted {
}

.price-original {
    text-decoration: line-through;
    color: #9b9ba0;
    margin-left: 0.3em;
    font-size: 0.75rem;
}

.card-hz {
    display: flex;
    width: 90%;
}

.card-hz .card-icon {
    opacity: 0.6;
}

.card-hz .card-icon:hover {
    opacity: 1;
}

.card-hz .card-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
}

.card-hz .card-heading {
    font-size: 1.4rem;
}

.card-hz .card-sub-heading {
    font-size: 0.9rem;
}

.card-hz .card-para {
    margin-top: 1em;
}

.card-hz .price-discounted {
    font-size: 1.3rem;
}

.card-hz .price-original {
    font-size: 0.9rem;
}

.horizontal-card {
    display: flex;
    width: 100%;
    padding: 0.5em;
}

.horizontal-card .card-cover {
    height: 8em;
    width: auto;
}

.horizontal-card .card-icon {
    opacity: 0.6;
}

.horizontal-card .card-icon:hover {
    opacity: 1;
}

.horizontal-card .card-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5em;
}

.horizontal-card .card-heading {
    font-size: 1rem;
}

.horizontal-card .card-sub-heading {
    font-size: 0.9rem;
}

.horizontal-card .card-para {
    margin-top: 1em;
}

.horizontal-card .price-discounted {
    font-size: 1.3rem;
}

.horizontal-card .price-original {
    font-size: 0.9rem;
}

@media (min-width: 441px) {
    .card {
        padding: 1em;
    }

    .card-icon {
        top: 1.45em;
        right: 1.45em;
    }
}

@media (max-width: 720px) {
    .card-hz {
        flex-direction: column;
        width: max-content;
    }

    .card-hz .card-text {
        width: 11em;
        margin: 0em;
    }

    .card-hz .card-heading {
        font-size: 1rem;
    }

    .card-hz .card-sub-heading {
        font-size: 0.8rem;
    }

    .card-para {
        display: none;
    }

    .card-hz .price-discounted {
        font-size: 1rem;
    }

    .card-hz .price-original {
        font-size: 0.8rem;
    }
}
